:root {
    /* Primary Colors */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    /* Neutral Colors */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    /* Font Families */
    --Font-Fraunces: 'Fraunces', serif;
    --Font-Montserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--Cream);
    align-content: center;
}

html, body {
    height: 100%;
    margin: 0;
}

.product-preview-card {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 90%;
    max-width: 600px;
    background-color: var(--White);
    border-radius: 10px;
    font-family: var(--Font-Montserrat);
    color: var(--Grey);
}

.image-section {
    width: 50%;
}

.product-details-section {
    width: 50%;
    padding: 2rem;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.price{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    background-color: var(--Green-500);
    color: var(--White);
    border: none;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: var(--Green-700);
}

.kicker {
    letter-spacing: 5px;
    font-size: 14px;
}

.title{
    font-family: var(--Font-Fraunces);
    line-height: 1;
    color: var(--Black);
}

.parfume-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
}

.current-price {
    font-family: var(--Font-Fraunces);
    font-size: 30px;
    color: var(--Green-500);
}

.old-price {
    font-size: 13px;
}

@media (max-width: 500px) {
    .product-preview-card {
        flex-direction: column;
    }
    .image-section {
        width: 100%;
    }

    .product-details-section {
        width: 100%;
        padding: 1.5rem;
    }

    .product-image {
        border-radius: 10px 10px 0 0;
    }
}